.header{
    height: 60px;
    background-color: #1D2F30;
}
.wrapper{
    margin: 0 auto;
    height: 100%;
    max-width: 1210px;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr 2fr;
    display: grid;
    column-gap: 30px;
    align-items: center;
}